<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!--    <link href="plugin/bootstrap/bootstrap.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link type="text/css" rel="styleSheet"  th:href="@{/blog/css/indexStyle.css}"/>-->
    <link type="text/css" rel="styleSheet" th:href="@{/plugin/bootstrap/css/bootstrap.css}"/>
</head>
<style>
    li{text-align: center;margin-top: 30px}
    li input{
        margin: auto;
    }
    li span{
        display: inline-block;
        align-self: center;
    }
    .input-div{
        margin: auto;
    }
</style>
<body>
<div>
    <div class="container" style=" margin:auto ">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-7 m-auto" style=" margin-top: 60px; float: none;">
            <form th:action="@{/admin/login}" method="post">
                <ul class="form-group ">
                    <li class="list-unstyled" style="margin: 0 auto">
                        <div th:if="${not #strings.isEmpty(session.errorMessage)}">
                            <div class="alert alert-danger" th:text="${session.errorMessage}"></div>
                        </div>
                    </li>
                    <li class="input-group list-unstyled">
                        <div class="img-response m-auto">
                            <img title="logo" width="240px" height="180px" src="/static/blogResource/img/test.jpg"/>
                        </div>
                    </li>

                    <li class="input-group list-unstyled">
                        <span class="input-group-addon">用户名:&nbsp;&nbsp;</span>
                        <input type="text" name="admin_name" class="form-control"/>
                    </li>

                    <li class="input-group  list-unstyled" >
                        <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;码:&nbsp;&nbsp;</span>
                        <input type="password" name="admin_pwd" class="form-control"/>
                    </li>
                    <li class="input-group  list-unstyled">
                        <span class="input-group-addon">验证码:&nbsp;&nbsp;</span>
                        <input type="text" name="verifyCode" class="form-control"/>
                        <span class="input-group-addon">
                    <img alt="单击图片刷新！"
                         class="pointer" th:src="@{/common/kaptcha}"
                         onclick="this.src='/common/kaptcha?d='+new Date()*1"
                    ></span>
                    </li>
                    <li class="input-group  list-unstyled" >
                        <div class="input-div"> <input type="submit" class="btn " value="登录"/>
                            <input type="button" class="btn " style="position:relative;left: 5px" data-toggle="modal"
                                   data-target="#register-modal" onclick="location.href='/admin/register'"
                                   value="注册"/></div>
                    </li>
                </ul>

            </form>
        </div>
    </div>
</div>
<script th:src="@{../plugin/jquery/jquery.js}"></script>
<script th:src="@{../plugin/bootstrap/js/bootstrap.js}"></script>
<script>
    $(
        function () {
            $(".btn").css("background-color", "#ff99c5")
        }
    )
</script>
</body>
</html>