<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link type="text/css" rel="styleSheet"  th:href="@{/blog/css/indexStyle.css}"/>-->
    <link type="text/css" rel="styleSheet" th:href="@{/plugin/bootstrap/css/bootstrap.css}"/>
    <link type="text/css" rel="styleSheet" th:href="@{/plugin/bootstrap/css/bootstrap-theme.css}"/>
    <link type="text/css" rel="styleSheet" th:href="@{/plugin/bootstrap/css/bootstrap-select.min.css}"/>
</head>
<body>

<div>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="搜索..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">登录</button>
                    <button type="button" class="btn btn-warning">注册</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container " style=" margin:auto ">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-7 center-block  " style=" margin-top: 60px; float: none;">
            <form th:action="@{/admin/login}" method="post">
                <ul class="form-group ">
                    <li class="list-unstyled " style="margin: 0 auto">
                        <div id="hidden_div" class="">
                            <div id="wrong_div" class="alert alert-info  ">请完善个人信息</div>
                        </div>
                    </li>
                    <li class="input-group list-unstyled" style="margin: 0 auto;">
                        <div class=" img-responsive">
                            <img title="logo" width="240px" height="180px" src="/blog/img/test.jpg"/>
                        </div>
                    </li>
                    <li class="input-group list-unstyled">
                        <span class="input-group-addon">用户名</span>
                        <input id="admin_name" type="text" name="admin_name" class="form-control"/>
                    </li>
                    <li class="input-group  list-unstyled" style="text-align: center">
                        <span class="input-group-addon">密码</span>
                        <input id="admin_pwd" type="password" name="admin_pwd" class="form-control"/>
                    </li>
                    <li class="input-group list-unstyled" >
                        <span class="input-group-addon">
                        <select class="selectpicker" data-style="btn-info"data-width="100px">
                            <option>手机号</option>
                            <option>电子邮箱</option>
                        </select>
                        </span>
                        <input id="phone" type="text" name="phone" class="form-control" style="height: 50px"/>
                        <span class="input-group-addon btn btn-default ">获取验证码</span>
                    </li>
                    <li class="input-group list-unstyled">
                        <span class="input-group-addon">验证码</span>
                        <input id="verify_code" type="text" name="verify_code" class="form-control"/>
                    </li>
                    <li class="input-group  list-unstyled" style="margin: auto">
                        <input id="submit_btn" type="button" class="btn btn-default" value="点击注册"/>
                    </li>
                </ul>

            </form>
        </div>
    </div>
</div>
</div>


<script th:src="@{/plugin/jquery/jquery.js}"></script>
<script th:src="@{/plugin/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/plugin/bootstrap/js/bootstrap-select.js}"></script>
<script th:inline="javascript">
    var flag = false;
    var isRepeat = false;
    $("input").bind("input propertychange",
        function () {
            validateUserName()
            if ($("#admin_name").val() == "" || $("#admin_name").val().length > 6) {
                $("#wrong_div").text("用户名格式错误");
                $("#wrong_div").addClass("alert-warning")
            } else if (isRepeat=="true") {
                $("#wrong_div").text("用户名已经被注册");
                 $("#wrong_div").addClass("alert-warning")
                //$("input").unbind();

            } else if ($("#admin_pwd").val() == "" || $("#user_pwd").val().length > 20 || $("#admin_pwd").val().length < 6) {
                $("#wrong_div").text("密码格式错误");
                $("#wrong_div").addClass("alert-warning")
            } else if ($("#phone").val() == "" || $("#phone").val().length != 11) {
                $("#wrong_div").text("手机号码不能为空");
                $("#wrong_div").addClass("alert-warning")
            } else if (isNaN($("#phone").val())) {

                $("#wrong_div").text("手机号码不能出现非法字符！！");
                $("#wrong_div").addClass("alert-warning")
            } else {

                $("#wrong_div").text("符合要求");
                $("#wrong_div").removeClass("alert-warning")
                $("#wrong_div").removeClass("alert-info")
                $("#wrong_div").addClass("alert-success");
                flag = true;

            }
        }
    )

    function validateUserName() {
          $.ajax({
            type: "post",
            url: "/admin/validateUserName",
            async: false,
            data: "admin_name="+ $("#admin_name").val(),
            //请求成功
            success: function (data){
                isRepeat=data;

            },
            error:function(request){//请求数据失败时调用的函数
                  alert("发生错误:"+request.status);
              }
        })
    }

    $("#submit_btn").click(
        function () {
            if (flag) {
                $("form").submit(function () {

                    $.post(
                        '/admin/register',
                        $("form").serialize(),

                        function (data) {
                        }
                    )
                });
            }
        }
    )

</script>
</body>

</html>