 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="styleSheet" th:href="@{/static/plugin/bootstrap/css/bootstrap.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/blogResource/css/header-style.css}"/>
</head>

<body style="background-color: #bfd1ec">

<div>
    <div id="head-append" th:if="${session.user != null }">
        <div th:insert="frag/header::logo-div">
        </div>
    </div>
    <div id="head-append" th:unless="${session.user != null }">
        <div th:if="${session.errorMessage}!=null">
            <div onload="alert('登录已经过期!!')"></div>
        </div>
        <div th:insert="frag/header::login-div">
        </div>
    </div>
    <!--<div class="section-div float-none offset-10"></div>-->

</div>


<script th:src="@{/static/plugin/jquery/jquery.js}"></script>
<script th:src="@{/static/plugin/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/static/blogResource/js/divAnimate.js}"></script>
<script th:src="@{/static/blogResource/js/header-script.js}"></script>

<script th:inline="javascript">
    $(function (){
        token =  localStorage.getItem("token")
        if(token!=null&&[[${session.user}]]==null){
            $.ajax({
                    method:"post",
                    url: "/blog/autoLogin",
                    data:{
                        token:token.toString()
                    },
                dataType:"json",
                returnType:"json",
                    success:function (data){
                        if(data["msg"]==0||data["msg"]=="0"){
                            alert("登录失败!")
                        }else
                        {
                            location.href="/";
                        }
                    }
                }
            )}
    })

</script>

</body>
</html>