<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:id="rightBody"  th:fragment="rightBody">
        <div th:if="${articleMsg!=null}">
            <div class="article_preview" th:each="item:${articleMsg.get(0).getArticleCollections()}">
                <a  th:href="${'/blog/showArticle/'+item.getArticle_id()}"  >
                    <div class="list-item">
                        <p class="main-content" th:text="${item.getSummary()+'...' }">
                        </p>
                        <div class="time-frame">
                            <span > 发布时间:&nbsp;</span>
                            <span th:text="${item.getCreate_time()}"></span>
                            <span th:text="${item.getUpdate_time()}"></span>
                        </div>
                    </div>
                </a>

            </div>

        </div>

    </div>
</body>
</html>