<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragement="login_div">
    <div class="text-end">
        <button type="button"  onclick="window.location.href='/blog/loginUser'" class="btn btn-outline-light me-2">登录</button>
        <button type="button" onclick="window.location.href='/blog/registerUser'"  class="btn btn-warning">注册</button>
    </div>
</div>
<div th:fragement="logo_div">

</div>
</body>
</html>