<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ypf.dao.adminMapper">
    <resultMap id="BaseResultMap" type="com.ypf.entity.adminEntity">
        <id column="aid" jdbcType="INTEGER" property="admin_id" />
        <result column="aname" jdbcType="VARCHAR" property="admin_name" />
        <result column="actime" jdbcType="TIMESTAMP" property="create_time" />
        <result column="autime" jdbcType="TIMESTAMP" property="update_time" />
    </resultMap>
    <sql id="Base_Column_List">
        admin_id, admin_name, create_time, update_time
    </sql>
    <select id="login" parameterType="string" resultMap="BaseResultMap">
        select
            admin_id aid, admin_name aname, create_time actime, update_time autime
        from myblog.admin a  where  a.admin_name = #{admin_name} and a.admin_pwd = #{admin_pwd};
    </select>
    <select id="findAdmin" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from myblog.admin where  admin_name = #{admin_name} ;
    </select>

<insert id="addAdmin" parameterType="com.ypf.entity.adminEntity">
    insert into myblog.admin (user_name,user_pwd,phone,create_time,update_time) values(#{user_name},#{user_pwd},#{phone},now(),now())
</insert>

</mapper>